extends layout

block content
    div.container.mt-4
        div.row
            div.col-sm-11
                h1(class="ml-5 mb-4") #{title}
                div(class="card mr-5 ml-5 w-100")
                    div(class="card-body")
                        form(method="POST" action="/students/add")
                            #form-group
                                label Name:
                                input.form-control.mb-4(name="name" type="text")
                            #form-group
                                label Lastname:
                                input.form-control.mb-4(name="lastname" type="text")
                            #form-group
                                label Email:
                                input.form-control.mb-4(name="email" type="email")
                            #form-group
                                label Address:
                                textarea.form-control.mb-4(name="address" cols="15" rows="3")
                            input.btn.btn-primary(type="submit" value="Submit")