extends layout

block content
    div.container.mt-4
        div.row
            div.col-sm-11
                h1(class="ml-5") #{title}
                a(href='/students/add' class="btn btn-primary mb-4 ml-5 mt-3" ) Add student
                each student, i in students
                    div(class="card mr-5 ml-5 mb-3 w-100")
                        div(class="card-header") Name: #{student.firstname} #{student.lastname}
                        div(class="card-body")
                            p(class="card-text") EMail: #{student.email}
                            p(class="card-text") Address: #{student.address}
                            #form-group.row.justify-content-left.ml-0
                                a.btn.btn-warning.mt-2.mr-2(href="/student/edit/"+student._id) Edit
                                a.btn.btn-danger.mt-2.delete-student(href='#',data-id=student._id) Delete
